.color-picker {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

textarea{
    resize:none;
}

.btn{
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-2px);
}

.card{
    border-radius:15px;
}

textarea{
    border-radius:12px;
}

body{
    transition:0.3s;
}